body
{
    text-align: center;
    background-color: rgb(89, 140, 185)!important;
}

#app {
    background-color:rgb(89, 140, 185);
}

#myCarousel {
    background-color:rgb(89, 140, 185);
}
#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : rgb(63, 63, 63);
    font-size: 20px;
}



